<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About</title>

    <link rel="stylesheet" href="../styles/GlobalStyles.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/SocialMediaIcons.css">
    <link rel="stylesheet" href="../styles/Navbar.css">
    <link rel="stylesheet" href="../styles/Navigation.css">
    <link rel="stylesheet" href="../styles/About.css">
    <link rel="stylesheet" href="../styles/Footer.css">
</head>
<body>
<!--Navigation-->
<nav class="nav-wrapper" id="nav">
    <img class="nav-close" src="../images/svg/close.svg" alt="nav-close" id="closeMenu">
    <ul class="nav-links-wrapper">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="./about.html" class="active">ABOUT</a></li>
        <li><a href="./portfolio.html">PORTFOLIO</a></li>
        <li><a href="./contact.html">CONTACT</a></li>
    </ul>
    <div class="icons-wrapper">
        <img src="../images/svg/facebook.svg" alt="Facebook">
        <img src="../images/svg/instagram.svg" alt="Instagram">
        <img src="../images/svg/twitter.svg" alt="Twitter">
    </div>
</nav>

<!--Navbar-->
<section class="navbar-wrapper">
    <a href="../index.html"><img class="navbar-logo" src="../images/svg/logo.svg" alt="Logo"></a>
    <img class="navbar-menu" src="../images/svg/menu.svg" alt="Logo" id="menu">
    <div class="navbar-icons-wrapper icons-wrapper">
        <img src="../images/svg/facebook.svg" alt="Facebook">
        <img src="../images/svg/instagram.svg" alt="Instagram">
        <img src="../images/svg/twitter.svg" alt="Twitter">
    </div>
</section>

<!--Sidebar-->
<section class="sidebar-wrapper" id="sidebar-wrapper">
    <div class="sidebar-title-wrapper" id="sidebar-menu">
        <h2>MENU</h2>
    </div>
    <ul class="sidebar-links-wrapper">
        <li><a href="../index.html" class="active">HOME</a></li>
        <li><a href="../views/about.html">ABOUT</a></li>
        <li><a href="../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../views/contact.html">CONTACT</a></li>
    </ul>
</section>

<!--About-->
<section class="about">
    <h2 class="about-heading"><span>PRO</span>DUCT PHOTOGRAPHER</h2>
    <div class="about-details">
        <p class="about-paragraph">My name is Weronika Koziol, I am 22 years old, and I come from Poland. I started
            Media
            Production course at De
            Montfort University 2 years ago, and this is my final year. I have always been interested in the beuty
            Products
            and creative photography, but only from the beginning of this year I came up with the idea to combine these
            two
            passions.</p>
    </div>
    <span class="about-line about-line-left-big"></span>
    <span class="about-line about-line-left-small"></span>
    <div class="about-image-wrapper">
        <img class="about-image" src="../images/weronika.jpg" alt="Weronika">
        <span class="about-line about-line-right-big"></span>
        <span class="about-line about-line-right-small"></span>
    </div>
    <div class="icons-wrapper about-icons">
        <img src="../images/svg/facebook.svg" alt="Facebook">
        <img src="../images/svg/instagram.svg" alt="Instagram">
        <img src="../images/svg/twitter.svg" alt="Twitter">
    </div>
</section>

<!--Footer-->
<footer class="footer">
    <a href="../index.html">
        <img class="footer-logo" src="../images/svg/logo.svg" alt="Logo"></a>
    <div class="footer-middle-wrapper">
        <div class="footer-icons-wrapper">
            <img src="../images/svg/facebook.svg" alt="Facebook">
            <img src="../images/svg/instagram.svg" alt="Instagram">
            <img src="../images/svg/twitter.svg" alt="Twitter">
        </div>
        <span></span>
        <p>Copyright 2022&copy;. All rights reserved.</p>
    </div>
    <ul class="footer-sitemap-wrapper">
        <li><a href="../views/about.html">ABOUT</a></li>
        <li><a href="../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../views/contact.html">CONTACT</a></li>
    </ul>
</footer>

<script src=".././js/navigation.js"></script>
<script src=".././js/sidebar.js"></script>
</body>
</html>
