<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Curology</title>

    <link rel="stylesheet" href="../../styles/GlobalStyles.css">
    <link rel="stylesheet" href="../../styles/sidebar.css">
    <link rel="stylesheet" href="../../styles/SocialMediaIcons.css">
    <link rel="stylesheet" href="../../styles/Navbar.css">
    <link rel="stylesheet" href="../../styles/Navigation.css">
    <link rel="stylesheet" href="../../styles/Footer.css">
    <link rel="stylesheet" href="../../styles/Projects.css">
    <link rel="stylesheet" href="../../styles/Curology.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

<!--Navigation-->
<nav class="nav-wrapper" id="nav">
    <img class="nav-close" src="../../images/svg/close.svg" alt="nav-close" id="closeMenu">
    <ul class="nav-links-wrapper">
        <li><a href="../../index.html">HOME</a></li>
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html" class="active">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
    <div class="icons-wrapper">
        <img src="../../images/svg/facebook.svg" alt="Facebook">
        <img src="../../images/svg/instagram.svg" alt="Instagram">
        <img src="../../images/svg/twitter.svg" alt="Twitter">
    </div>
</nav>

<!--Navbar-->
<section class="navbar-wrapper">
    <a href="../../index.html"><img class="navbar-logo" src="../../images/svg/logo.svg" alt="Logo"></a>
    <img class="navbar-menu" src="../../images/svg/menu.svg" alt="Logo" id="menu">
    <div class="navbar-icons-wrapper icons-wrapper">
        <img src="../../images/svg/facebook.svg" alt="Facebook">
        <img src="../../images/svg/instagram.svg" alt="Instagram">
        <img src="../../images/svg/twitter.svg" alt="Twitter">
    </div>
</section>

<!--Sidebar-->
<section class="sidebar-wrapper" id="sidebar-wrapper">
    <div class="sidebar-title-wrapper" id="sidebar-menu">
        <h2>MENU</h2>
    </div>
    <ul class="sidebar-links-wrapper">
        <li><a href="../../index.html" class="active">HOME</a></li>
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
</section>

<section class="header-wrapper">
    <h1>PORTFOLIO</h1>
    <h2 class="purple">CUROLOGY</h2>
</section>

<section class="images-wrapper">
    <img data-aos="fade-right" src="../../images/curology/curology2.webp" alt="Curology">
    <img data-aos="fade-right" src="../../images/curology/curology2.webp" alt="Curology">
    <img data-aos="fade-right" src="../../images/curology/curology.webp" alt="Curology">
    <img data-aos="fade-right" src="../../images/curology/curology5.webp" alt="Curology">
    <img data-aos="fade-right" src="../../images/curology/curology9.webp" alt="Curology">
    <img data-aos="fade-right" src="../../images/curology/photo-1571780995335-8dae43499334.webp" alt="Curology">
    <img data-aos="fade-right" src="../../images/curology/curology8.webp" alt="Curology">
    <img data-aos="fade-right" src="../../images/curology/photo-1556228578-8c89e6adf883.webp" alt="Curology">
</section>

<section class="about-wrapper">
    <h2>Curology</h2>
    <p>Curology, produces and ships prescription skincare products for acne and anti-aging. The Company offers
        medications for various treatments that include acne, clogged pores, dark spots, skin firmness, texture, and
        wrinkles. Curology serves customers in the State of California.
        <br>
        <br>
        The colors of the brand are mainly two shades, i.e. white and purple, which is noticeable mainly in the colors
        of the products. What is more, Curology also focuses on minimalis, not stuffing any additional texts on product,
        except the brand name .In the photo shot, I tried to take into account all these characteristics as well as the
        original place of the company, i.e. California.</p>
    <span class="line"></span>
    <table>
        <tr>
            <td>BRAND</td>
            <td>CUROLOGY</td>
        </tr>
        <tr>
            <td>PHOTOGRAPHER</td>
            <td>WERONIKA KOZIOL</td>
        </tr>
        <tr>
            <td>CAMERA</td>
            <td>NIKON D7100</td>
        </tr>
        <tr>
            <td>LENSES</td>
            <td>Canon EF 50mm f/1.4 USM</td>
        </tr>
    </table>
</section>

<section class="nextProject-wrapper">
    <h2>NEXT PROJECT</h2>
    <a href="./nora.html" class="nextProject-img-wrapper">
        <img src="../../images/nora/nora5.webp" alt="Nora next project">
        <div>
            <span>SEE MORE</span>
        </div>
    </a>
</section>

<div class="icons-wrapper icons-wrapper-bottom">
    <img src="../../images/svg/facebook.svg" alt="Facebook">
    <img src="../../images/svg/instagram.svg" alt="Instagram">
    <img src="../../images/svg/twitter.svg" alt="Twitter">
</div>

<!--Footer-->
<footer class="footer">
    <a href="../../index.html">
        <img class="footer-logo" src="../../images/svg/logo.svg" alt="Logo"></a>
    <div class="footer-middle-wrapper">
        <div class="footer-icons-wrapper">
            <img src="../../images/svg/facebook.svg" alt="Facebook">
            <img src="../../images/svg/instagram.svg" alt="Instagram">
            <img src="../../images/svg/twitter.svg" alt="Twitter">
        </div>
        <span></span>
        <p>Copyright 2022&copy;. All rights reserved.</p>
    </div>
    <ul class="footer-sitemap-wrapper">
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 500,
    });
</script>
<script src="../../js/navigation.js"></script>
<script src="../../js/sidebar.js"></script>
</body>
</html>
