<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nora</title>

    <link rel="stylesheet" href="../../styles/GlobalStyles.css">
    <link rel="stylesheet" href="../../styles/sidebar.css">
    <link rel="stylesheet" href="../../styles/SocialMediaIcons.css">
    <link rel="stylesheet" href="../../styles/Navbar.css">
    <link rel="stylesheet" href="../../styles/Navigation.css">
    <link rel="stylesheet" href="../../styles/Footer.css">
    <link rel="stylesheet" href="../../styles/Projects.css">
    <link rel="stylesheet" href="../../styles/Nora.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

<!--Navigation-->
<nav class="nav-wrapper" id="nav">
    <img class="nav-close" src="../../images/svg/close.svg" alt="nav-close" id="closeMenu">
    <ul class="nav-links-wrapper">
        <li><a href="../../index.html">HOME</a></li>
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html" class="active">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
    <div class="icons-wrapper">
        <img src="../../images/svg/facebook.svg" alt="Facebook">
        <img src="../../images/svg/instagram.svg" alt="Instagram">
        <img src="../../images/svg/twitter.svg" alt="Twitter">
    </div>
</nav>

<!--Navbar-->
<section class="navbar-wrapper">
    <a href="../../index.html"><img class="navbar-logo" src="../../images/svg/logo.svg" alt="Logo"></a>
    <img class="navbar-menu" src="../../images/svg/menu.svg" alt="Logo" id="menu">
    <div class="navbar-icons-wrapper icons-wrapper">
        <img src="../../images/svg/facebook.svg" alt="Facebook">
        <img src="../../images/svg/instagram.svg" alt="Instagram">
        <img src="../../images/svg/twitter.svg" alt="Twitter">
    </div>
</section>

<!--Sidebar-->
<section class="sidebar-wrapper" id="sidebar-wrapper">
    <div class="sidebar-title-wrapper" id="sidebar-menu">
        <h2>MENU</h2>
    </div>
    <ul class="sidebar-links-wrapper">
        <li><a href="../../index.html" class="active">HOME</a></li>
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
</section>

<section class="header-wrapper">
    <h1>PORTFOLIO</h1>
    <h2>NORA</h2>
</section>

<section class="images-wrapper">
    <img data-aos="fade-right" src="../../images/nora/nora1.webp" alt="Nora">
    <img data-aos="fade-right" src="../../images/nora/nora3.webp" alt="Nora">
    <img data-aos="fade-right" src="../../images/nora/nora4.webp" alt="Nora">
    <img data-aos="fade-right" src="../../images/nora/nora5.webp" alt="Nora">
    <img data-aos="fade-right" src="../../images/nora/nora6.webp" alt="Nora">
    <img data-aos="fade-right" src="../../images/nora/nora7.webp" alt="Nora">
    <img data-aos="fade-right" src="../../images/nora/nora8.webp" alt="Nora">
</section>

<section class="about-wrapper">
    <h2>NORA</h2>
    <p> Nora will definitely guide you to your next wellness goal with their premium CBD products. They produce only the
        highest quality products, crafted using locally sourced ingredients for the purest potency and highest
        efficiency. Their website is dominated mainly by beige ,green and white colors, but among some promotional
        photos you can notice the use of warm, strong yellow. For this reason, I decided to reproduce this atmosphere
        and use a yellow and beige backdrop while production.</p>
    <span class="line1"></span>
    <span class="line2"></span>
    <table>
        <tr>
            <td>BRAND</td>
            <td>NORA</td>
        </tr>
        <tr>
            <td>PHOTOGRAPHER</td>
            <td>WERONIKA KOZIOL</td>
        </tr>
        <tr>
            <td>CAMERA</td>
            <td>NIKON D7100</td>
        </tr>
        <tr>
            <td>LENSES</td>
            <td>The Sony 30 mm f/3.5.</td>
        </tr>
    </table>
</section>

<section class="nextProject-wrapper">
    <h2>NEXT PROJECT</h2>
    <a href="./theOrdinary.html" class="nextProject-img-wrapper">
        <img src="../../images/theOrdinary/the%20ordinary4.webp" alt="The Ordinary next project">
        <div class="nora">
            <span>SEE MORE</span>
        </div>
    </a>
</section>


<div class="icons-wrapper icons-wrapper-bottom">
    <img src="../../images/svg/facebook.svg" alt="Facebook">
    <img src="../../images/svg/instagram.svg" alt="Instagram">
    <img src="../../images/svg/twitter.svg" alt="Twitter">
</div>

<!--Footer-->
<footer class="footer">
    <a href="../../index.html">
        <img class="footer-logo" src="../../images/svg/logo.svg" alt="Logo"></a>
    <div class="footer-middle-wrapper">
        <div class="footer-icons-wrapper">
            <img src="../../images/svg/facebook.svg" alt="Facebook">
            <img src="../../images/svg/instagram.svg" alt="Instagram">
            <img src="../../images/svg/twitter.svg" alt="Twitter">
        </div>
        <span></span>
        <p>Copyright 2022&copy;. All rights reserved.</p>
    </div>
    <ul class="footer-sitemap-wrapper">
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 500,
    });
</script>
<script src="../../js/navigation.js"></script>
<script src="../../js/sidebar.js"></script>
</body>
</html>
