<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <title>The Ordinary</title>

    <link rel="stylesheet"
          href="../../styles/GlobalStyles.css">
    <link rel="stylesheet"
          href="../../styles/sidebar.css">
    <link rel="stylesheet"
          href="../../styles/SocialMediaIcons.css">
    <link rel="stylesheet"
          href="../../styles/Navbar.css">
    <link rel="stylesheet"
          href="../../styles/Navigation.css">
    <link rel="stylesheet"
          href="../../styles/Footer.css">
    <link rel="stylesheet"
          href="../../styles/Projects.css">
    <link rel="stylesheet"
          href="../../styles/TheOrdinary.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>

<!--Navigation-->
<nav class="nav-wrapper"
     id="nav">
    <img class="nav-close"
         src="../../images/svg/close.svg"
         alt="nav-close"
         id="closeMenu">
    <ul class="nav-links-wrapper">
        <li><a href="../../index.html">HOME</a></li>
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html"
               class="active">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
    <div class="icons-wrapper">
        <img src="../../images/svg/facebook.svg"
             alt="Facebook">
        <img src="../../images/svg/instagram.svg"
             alt="Instagram">
        <img src="../../images/svg/twitter.svg"
             alt="Twitter">
        <div class="navbar-icons-wrapper icons-wrapper">
            <img src="../../images/svg/facebook.svg"
                 alt="Facebook">
            <img src="../../images/svg/instagram.svg"
                 alt="Instagram">
            <img src="../../images/svg/twitter.svg"
                 alt="Twitter">
        </div>
    </div>
</nav>

<!--Navbar-->
<section class="navbar-wrapper">
    <a href="../../index.html"><img class="navbar-logo"
                                    src="../../images/svg/logo.svg"
                                    alt="Logo"></a>
    <img class="navbar-menu"
         src="../../images/svg/menu.svg"
         alt="Logo"
         id="menu">
    <div class="navbar-icons-wrapper icons-wrapper">
        <img src="../../images/svg/facebook.svg"
             alt="Facebook">
        <img src="../../images/svg/instagram.svg"
             alt="Instagram">
        <img src="../../images/svg/twitter.svg"
             alt="Twitter">
    </div>
</section>

<section class="header-wrapper">
    <h1>PORTFOLIO</h1>
    <h2>THE ORDINARY</h2>
</section>

<!--Sidebar-->
<section class="sidebar-wrapper"
         id="sidebar-wrapper">
    <div class="sidebar-title-wrapper"
         id="sidebar-menu">
        <h2>MENU</h2>
    </div>
    <ul class="sidebar-links-wrapper">
        <li><a href="../../index.html"
               class="active">HOME</a></li>
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
</section>

<section class="images-wrapper images-wrapper-theOrdinary">
        <img data-aos="fade-right" src="../../images/theOrdinary/the%20ordinary1.webp"
             alt="The Ordinary">
    <img data-aos="fade-right" src="../../images/theOrdinary/the%20ordinary2.webp"
         alt="The Ordinary">
    <img data-aos="fade-right" src="../../images/theOrdinary/the%20ordinary4.webp"
         alt="The Ordinary">
    <img data-aos="fade-right" src="../../images/theOrdinary/the%20ordinary4.webp"
         alt="The Ordinary">
    <img data-aos="fade-right" src="../../images/theOrdinary/the%20ordinary3.webp"
         alt="The Ordinary">
    <img data-aos="fade-right" src="../../images/theOrdinary/the%20ordinary3.webp"
         alt="The Ordinary">
    </section>

<section class="about-wrapper">
    <h2>THE ORDINARY</h2>
    <p>Despite the name, there is nothing ordinary about skincare industry
        champion The Ordinary. Delivering quality
        skin care at an affordable price, this no-nonsense brand has taken the
        beauty world by storm, with skin gurus
        and industry masters alike singing its praises. From banishing blemishes
        and minimising pores to reducing
        wrinkles and evening out skin tone, there is something for everyone.
        <br>
        <br>
        The brand focuses primarily on minimalism. Simple glass bottles with
        aesthetically contrasting labels are a
        metaphor for 100% natural products made without harmful additional
        fragrances. Taking into account the style of
        the brand, set up was also styled in a minimalistic way.</p>
    <span class="line"></span>
    <table>
        <tr>
            <td>BRAND</td>
            <td>THE ORDINARY</td>
        </tr>
        <tr>
            <td>PHOTOGRAPHER</td>
            <td>WERONIKA KOZIOL</td>
        </tr>
        <tr>
            <td>CAMERA</td>
            <td>NIKON D7100</td>
        </tr>
        <tr>
            <td>LENSES</td>
            <td>The Canon EF 24-70 mm f/2.8L II. The Sony 30 mm f/3.5.</td>
        </tr>
    </table>
</section>

<section class="nextProject-wrapper">
    <h2>NEXT PROJECT</h2>
    <a href="./curology.html"
       class="nextProject-img-wrapper">
        <img src="../../images/curology/curology9.webp"
             alt="Curology next project">
        <div>
            <span>SEE MORE</span>
        </div>
    </a>
</section>

<div class="icons-wrapper icons-wrapper-bottom">
    <img src="../../images/svg/facebook.svg"
         alt="Facebook">
    <img src="../../images/svg/instagram.svg"
         alt="Instagram">
    <img src="../../images/svg/twitter.svg"
         alt="Twitter">
</div>

<!--Footer-->
<footer class="footer">
    <a href="../../index.html">
        <img class="footer-logo"
             src="../../images/svg/logo.svg"
             alt="Logo"></a>
    <div class="footer-middle-wrapper">
        <div class="footer-icons-wrapper">
            <img src="../../images/svg/facebook.svg"
                 alt="Facebook">
            <img src="../../images/svg/instagram.svg"
                 alt="Instagram">
            <img src="../../images/svg/twitter.svg"
                 alt="Twitter">
        </div>
        <span></span>
        <p>Copyright 2022&copy;. All rights reserved.</p>
    </div>
    <ul class="footer-sitemap-wrapper">
        <li><a href="../../views/about.html">ABOUT</a></li>
        <li><a href="../../views/portfolio.html">PORTFOLIO</a></li>
        <li><a href="../../views/contact.html">CONTACT</a></li>
    </ul>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 500,
    });
</script>

<script src="../../js/navigation.js"></script>
<script src="../../js/sidebar.js"></script>
</body>
</html>
